h1 {
    background-image: url(pattern.jpeg);
    font-size: 100px;
    color: khaki;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h1, h2, h3, p {
    font-family: Helvetica;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
}

#brush {
    background-color: MediumSpringGreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.price-type {
    color: blue;
}